[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pyyaml = "*"
marshmallow-dataclass = "*"

[dev-packages]
mypy = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.11"
